.cart {
    padding: 25px;
}

.cart-header {
    margin: 25px 0;
}
@media screen and (min-width: 1024px) {
    .cart-header {
        display: flex;
    }
}

.cart-main {
    margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
    .cart-main {
        display: flex;
    }
}

.cart-header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
@media screen and (min-width: 1024px) {
    .cart-header-title {
        font-size: 34px;
        line-height: 50px;
    }
}

.cart-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width: 1024px) {
    .cart-header-right {
        flex: 1;
    }
}

@media screen and (min-width: 1024px) {
    .cart-header-actions {
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1023px) {
    .cart-header-actions {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .cart-header-actionCheckout {
        margin-left: 25px;
        flex-basis: 300px;
    }
}
@media screen and (max-width: 1023px) {
    .cart-header-actionCheckout {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .cart-products {
        flex-basis: calc(100% - 300px);
        margin-right: 25px;
    }
    .cart-side {
        flex: 0 0 300px;
    }
}

.cart-sideSummary {
    background: #1d2021;
    padding: 20px;
}
.cart-sideSummary-head {
    border-bottom: 1px solid #737373;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.cart-sideSummary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
}
.cart-sideSummary-itemDescription {
    display: block;
    font-size: 12px;
    line-height: 12px;
}
.cart-sideSummary-total {
    border-top: 1px solid #737373;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 25px;
}
.cart-sideSummary-checkout {
    margin-top: 10px;
}

.cart-products-row {
    border-bottom: 1px solid #737373;
    padding: 25px 5px;
}
.cart-products-row:last-child {
    border-bottom: none;
}
.cart-products header {
    background-color: #1d2021;
    border-bottom: 3px solid #737373;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 5px;
}
.cart-products header, .cart-products-row {
    display: grid;
    justify-items: center;
}
.cart-products header, .cart-products-row {
    align-items: center;
    grid-template-columns: 110px 23% 20% 17% 25%;
}
.cart-products-col {
    font-weight: 600;
    padding: 0 5px;
    text-align: center;
}
@media screen and (max-width: 1023px) {
    .cart-products header {
        display: none;
    }
    .cart-products-row {
        grid-template-areas:
            "image product"
            ". price"
            ". quantity";
        grid-template-columns: 150px 1fr;
    }
    .cart-products-colTotal {
        display: none;
    }
}

.cart-products-colImage {
    align-self: flex-start;
}
.cart-products-colImage  img {
    background-color: #1d2021;
}

@media screen and (max-width: 1023px) {
    .cart-products-colImage {
        grid-area: image;
    }
    .cart-products-colProduct {
        grid-area: product;
    }
    .cart-products-colPrice {
        grid-area: price;
        margin: 5px 0;
    }
    .cart-products-colQuantity {
        grid-area: quantity;
        margin: 5px 0;
    }
}
.cart-products-colProduct, .cart-products-colPrice, .cart-products-colQuantity, .cart-products-colTotal {
    font-weight: 600;
}
.cart-products-colProduct-descr {
    margin: 10px 0;
    font-weight: 400;
}
.cart-products-colProduct-remove {
     margin: 10px 0;
 }
@media only screen and (min-width: 1024px) {
    .cart-products-colProduct-remove {
        margin: 20px 0 0;
    }
}

.cart-products-colQuantity-input {
    border: none;
    background-color: transparent;
    color: #ffffff;
    width: 26px;
    font-size: 20px;
    text-align: center;
}
.cart-products-colQuantity-btn {
    border-radius: 50%;
    font-size: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
