.checkoutMain {
    margin: 25px 25px auto;
    padding: 0 25px;
}
@media screen and (min-width: 1024px) {
    .checkoutMain {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.checkout-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
    .checkout-title {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .checkout-section {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}
@media screen and (max-width: 1023px) {
    .checkout-section {
        margin-bottom: 50px;
    }
}

.checkout-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.cart-summary {
    background: #1d2021;
    padding: 20px;
    margin: 20px 0;
}
.cart-summary-head {
    border-bottom: 1px solid #737373;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.cart-summary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
}
.cart-summary-itemDescription {
    display: block;
    font-size: 12px;
    line-height: 12px;
}
.cart-summary-total {
    border-top: 1px solid #737373;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 25px;
}

.checkout-summary-product {
    border-bottom: 1px solid #737373;
    margin: 20px 0;
    overflow: hidden;
    padding-bottom: 20px;
}
.checkout-summary-product:last-child {
    border: 0;
    padding: 0;
}

.checkout-summary-productImage {
    background: #1d2021;
    float: left;
    width: 100px;
}

.checkout-summary-productInfo {
    display: flex;
    flex-flow: row wrap;
    margin-left: 150px;
}
.checkout-summary-productInfo-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}
.checkout-summary-productInfo-price, .checkout-summary-productInfo-quantity {
    font-weight: 600;
    flex-basis: 100%;
}
.checkout-summary-productInfo-quantity {
    margin-top: 15px;
}

.discountPrice {
    color: #620000;
    font-weight: 800;
}