/* homepage css*/
.news {
    margin: 0 auto !important;
    max-width: 1920px;
}
@media (max-width: 1023px){
    .news {
        margin-bottom: 0 !important;
    }
}
@media (min-width: 1024px){
    .news {
        margin: 0 auto !important;
        max-width: 1920px;
    }
}
.banner {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    text-align: left!important;
    overflow: hidden;
    position: relative;
}

.background-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 116.67%;
}

@media  screen and (max-width: 1023px )and (min-width: 750px){
    .background-wrapper {
        padding-bottom: 54.69%;
    }

}

@media  screen and (min-width: 1024px){
    .background-wrapper {
        padding-bottom: 33.33%;
    }
}

.background-wrapper>picture {
    color: #fff;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.banner-content {
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

@media (max-width: 1023px){
    .banner-content {
        top: 30%;
    }
}

@media (min-width: 1024px){
    .banner-content {
        max-width: 1480px !important;
    }
}

@media  (max-width:767px) {
    .banner-text-content {
        background: rgba(0,0,0,0.5);
        padding: 1rem;
    }
}

@media (min-width: 768px){
    .banner-text-content {
        width: 50%;
        background: rgba(0,0,0,0.5);
        padding: 1rem;
    }
}


.text1-banner {
    font-family: Galano Grotesque,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
}
@media  screen and (min-width: 1024px){
    .text1-banner {
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width: 1023px){
    .text1-banner {
        font-size: 18px ;
        line-height: 22px ;

    }
}

.text2-banner {
    font-family: Galano Grotesque,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 15px;
}

@media (max-width: 1023px){
    .text2-banner {
        font-size: 16px ;
        line-height: 20px ;
        width: 100%;

    }
}
@media (min-width: 1024px){
    .text2-banner {
        width: 100%;
        font-size: 22px;
        line-height: 24px;
    }
}
.buttonews{
    max-width: fit-content;
    margin-top: 15px;
}
.contentSlot{
    margin: 0 -8px;
}

.info {
    margin-bottom: 65px;
}

@media  screen and (max-width: 1023px){
    .info {
        margin-bottom: 70px;
    }
}


@media  screen and (min-width: 1024px){
    .info {
        margin-bottom: 80px;
    }
}

.header-info{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-text {
    color:#ffffff;
    font-family: Galano Grotesque,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
@media (min-width: 1024px){
    .header-text {
        font-size: 28px;
        line-height: 38px;
    }
}
.link-to-FAQ{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    position: relative;
    text-decoration: none;
}

@media  screen and (min-width: 768px){
    .link-to-FAQ {
        grid-template-columns: repeat(4,1fr);
    }
}
.info-section{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.text-info{
    color:#ffffff;
    margin-top: 5px;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: inherit!important;
    max-width: 100%;
}

.background-wrapper-info {
    align-items: center;
    display: flex;
    padding-bottom: 100%;
    height: 100%;
    width: 100%;
}
@media  screen and (min-width: 768px){
    .background-wrapper-info {
        padding-bottom: 104.1667%;
    }
}

@media  screen and (min-width: 1024px){
    .background-wrapper-info {
        padding-bottom: 55.556%;
    }
}

.info-icon{
    font-size: 30px;
}
@media  screen and (max-width: 1023px){
    .info-icon{
        margin-top: 30%;
    }
}
/* homepage css*/