/* General CSS */
html {
    background: #0d0d0d;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    min-width: 480px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color .2s;
}
a:hover {
    color: #aaaaaa;
}

*, :after, :before {
    box-sizing: border-box;
}

button, input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
/* General CSS */

/* Site Header CSS */
.mainHeader {
    background: #1d2021;
    margin: -8px;
}

@media screen and (min-width: 1024px) {
    .mainHeader .wrapperHeader {
        min-height: 80px;
    }
}
@media screen and (max-width: 1023px) {
    .mainHeader .wrapperHeader {
        min-height: 50px;
    }
}
.mainHeader .wrapperHeader {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}


@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}

.wrapperHeader .menuIcon{
    display: none;
    font-size: 25px;
    align-items: center;
    padding-right: 50px;
}
@media screen and (max-width: 1024px) {
    .wrapperHeader .menuIcon{
        display: flex;
    }
}


.logo, .actions{
    align-items: center;
    display: flex;
}
@media screen and (min-width: 1024px) {
    .site-logo-link {
        height: 30px;
        width: 150px;
    }
}
.site-logo-link {
    background: url(../images/img_placeholder.png) 50%/contain no-repeat;
    display: block;
    height: 21px;
    width: 105px;
}


@media screen and (min-width: 1024px) {
    .navBar {
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background: #1d2021;
        border-bottom: none;
        min-height: 46px;
    }
}
@media screen and (max-width: 1023px) {
    .navBar {
        background: #0d0d0d;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform .2s linear;
        width: 200px;
        z-index: 100;
    }
}
@media screen and (max-width: 1023px) {
    .navBar--open {
        transform: translateX(0);
        transition-delay: .2s;
    }
}

@media screen and (min-width: 1024px) {
    .mobileHeader {
        display: none;
    }
}
@media screen and (max-width: 1023px) {
    .mobileHeader {
        align-items: center;
        border-bottom: 1px solid #737373;
        display: flex;
        height: 55px;
        margin: 0 10px;
    }
}

.mobileHeader .homeBtn{
    display: block;
    font-size: 25px;
    height: 0;
    width: 0;
}
.mobileHeader .closeBtn {
    display: block;
    font-size: 25px;
    height: 0;
}
.mobileHeader .goBack {
    display: none;
    font-size: 35px;
    transform: scale(1.5,1);
    height: 10px;
    width: 0;
}

@media screen and (min-width: 1024px) {
    .navListContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 1240px;
    }
}
@media screen and (max-width: 1023px) {
    .navListContainer {
        height: 100vh;
        padding-bottom: 50px;
    }
}
@media screen and (min-width: 1024px) {
    .navCategories {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 33px;
    }
}
@media screen and (max-width: 1023px) {
    .navCategories {
        list-style: none;
        padding: 0;
        transition: all .2s linear;
    }
}

@media screen and (min-width: 1024px) {
    .navBarPrimaryCategory {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 12px 20px;
    }
}
@media screen and (max-width: 1023px) {
    .navBarPrimaryCategory, .navBarSecondaryCategory{
        align-items: center;
        border-bottom: 1px solid #737373;
        display: flex;
        height: 60px;
        margin: 0 10px;
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #464646;
        min-width: 160px;
        z-index: 1;
        box-shadow: 0 0 50px 100vw rgba(0, 0, 0, 0.2);
        padding-left: 0;
        list-style: none;
    }

    .navCategories li:hover .dropdown-content {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .navCategories--sub {
        transform: translateX(-100%);
    }
}
@media screen and (max-width: 1023px) {
    .dropdown-content--active {
        display: block !important;
    }
}
@media screen and (max-width: 1023px) {
    .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        transform: translateX(100%);
        width: 100%;
        list-style: none;
    }
}
.mobileHeader .homeBtn--remove{
    display: none !important;
}
.mobileHeader .goBack--appear{
    display: block !important;
}

@media screen and (min-width: 1024px) {
    .navBarSecondaryCategory {
        padding: 12px 16px;
        text-align: left;
    }
}

.actions {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}
@media screen and (max-width: 1023px) {
    .actions {
        margin-left: auto;
    }
}
.actions .account, .actions .cart, .actions .logout, .actions .orders {
    display: block;
    font-size: 25px;
    cursor: pointer;
}
.actions .search-container {
    display: block;
}

.userInfo {
    font-size: 12px;
    text-align: center;
}

.search-container .searchField {
    padding: 6px;
    font-size: 16px;
    border: none;
    height: 29px;
    width: calc(100% - 35px);
}
.search-container .searchBtn {
    width: 32px;
    height: 32px;
    margin-left: -3px;
}
/* Site Header CSS */

/* Forms */
.form-field {
    margin-bottom: 30px;
}
.form-field-label {
    color: #ffffff;
    font-weight: 600;
    display: flex;
    margin-bottom: 5px;
    width: 100%;
}
.form-field-input {
    height: 40px;
    padding: 0 20px;
    background-color: #1d2021;
    border: none;
    color: #cccccc;
    width: 100%;
}
.form-field-icon {
    position: relative;
}
.form-field-comment {
    color: #ffffff;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2px;
}

.password-reveal:hover {
    opacity: .5;
}
.password-eye {
    cursor: pointer;
    display: block;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.form-submitButton {
    background: #620000;
    border: none;
    cursor: pointer;
    font-weight: 700;
    padding: 11px 28px;
    text-transform: uppercase;
    width: 100%;
}
/* Forms */